<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaimejahuey.bikes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/bikeicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InventoryManagement"
            android:label="Inventory Management">
        </activity>
        <activity android:name=".SalesManagement"
            android:label="Sales management">
        </activity>
        <activity android:name=".Repairs"
            android:label="Repairs">
        </activity>
        <activity android:name=".addingBike"
            android:label="Adding Bike">
        </activity>
        <activity android:name=".updateBike"
            android:label="Updating Bike">
        </activity>
        <activity android:name=".displayInventory"
            android:label="Displaying Inventory">
        </activity>
        <activity android:name=".viewProfit"
            android:label="view profit">
         </activity>
        <activity android:name=".soldBike"
            android:label="Bike Information">
        </activity>
        <activity android:name=".AddingRepair"
            android:label="Add a repair.">
         </activity>
        <activity android:name=".completedRepair"
            android:label="Completed repair.">
         </activity>
        <activity android:name=".profitSummary"
            android:label="Completed repair.">
        </activity>
        <activity android:name=".viewActiveRepairs"
        android:label="View Active Repairs">
        </activity>
         <activity android:name=".viewCompletedRepairs"
            android:label="View Completed Repairs">
        </activity>
    </application>



</manifest>
